 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>
        设计是将创意变成实际产出的过程，可以应用于多个领域。在互联网领域，设计可以分为多个方向，例如UI设计、UX设计、平面设计等。其中，UI设计是指用
        户界面设计，负责制定用户与产品进行交流的一套规范，使得用户能够尽可能舒适高效地使用产品。UX设计则更偏向于用户体验设计，关注的是整个用户体验
        的流程，包括用户使用产品的场景、用户需求的调查研究、功能设计等方面。平面设计则更偏向于纸质媒介或传统媒体，例如海报、印刷品、广告设计等。总之，
        设计是一个重要的角色，可以直接影响一个产品或系统的成功或失败。[1][2]
      </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>
        作为一名程序员，代码是我的创造性产出，也是我与计算机进行交流的媒介。我熟悉多种编程语言，包括Java、Python、JavaScript等。在项目开发中，
        我注重代码的可读性、可维护性和可扩展性，使用合适的数据结构和算法来提升代码效率，在保证代码质量的基础上尽量缩短开发周期。我也注重代码风格的规
        范性，严格执行团队的代码规范和最佳实践，减少因个人习惯带来的不必要的错误和冲突。同时，我也会关注代码的安全性和可靠性，避免可能存在的漏洞和错
        误，保障系统的稳定性和安全性。总之，代码是我用于表达我的想法和思路，实现项目目标的重要工具。
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>
        开发人员常用的工具是用于提高开发效率和代码质量的软件，其中最常见的是集成开发环境（IDE）。集成开发环境是一种用于构建应用程序的软件，可将常用
        的开发人员工具合并到单个图形用户界面中。IDE 通常由以下几个部分组成：源代码编辑器、调试器、版本控制系统、构建系统等。其中，源代码编辑器是一
        个旨在帮助开发人员轻松编写软件代码的文本编辑器，可提供视觉提示、代码自动补全、语法检查等特色功能。
        另外，还有一些其他的开发工具，如前端开发人员常用的 F12 网页开发者工具，可帮助快速定位和调试问题；Git 是一款分布式版本控制系统，可以有效地
        管理代码并保证团队协作的效率。此外，像 Visual Studio Code、RubyMine 等编辑器也是常见的开发工具。这些工具都可以帮助开发人员更加高效地
        进行开发和调试，提升代码质量和开发效率。以上内容参考了 Red Hat 的文章 [1] 和 TechRepublic 的文章 [2]。
      </p>
    </div>
</div>
