<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI-Vision </h3>
    <ul>
      <li> SpringBoot+Element</li>
    </ul>
    <p>
      该项目采用了前后端分离的技术架构，后端采用了SpringBoot框架、MyBatisPlus和MySQL数据库等技术进行开发。前端则采用了Element技术栈，
      使用了Ant Design组件库进行UI设计。此外，我们还使用了Docker容器化技术对系统进行了部署，从而提高了系统的可维护性和扩展性。
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 复星商城APP </h3>
    <ul>
      <li> SpringCloud + Element</li>
    </ul>
    <p>
      复星商城APP采用了前后端分离的技术架构，后端采用Java语言开发，SpringCloud、MyBatisPlus等技术框架，并搭配MySQL、Redis等数据库进行存储和缓存。
      前端则采用Element技术进行开发，同时使用了Redux作为状态管理工具。
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
